{% extends 'base.html.twig' %}

{% block title %}Checkout Ryman's{% endblock %}
{% block scriptStripe %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock scriptStripe %}
{% block body %}
{{ include ("partials/title_section.html.twig", {'name':'confirmer la vérification'}) }}
<div class="section">
	<div class="container">
       
        <div class="row">
        	<div class="col-md-6">
                <div class="heading_s1">
                        <h4>Merci de vérifiez votre adresse de livraison</h4>
                        <div class="content" id="address">
                            {{ address | replace({'[espace]' : '<br>' | raw}) |raw }}
                        </div>
                        <a href="{{ path('address_edit',{'id':address.id})}}" class="btn btn-fill-out mt-1" >Modifier l'adresse</a>
                        <a href="{{ path('checkout_edit')}}" class="btn btn-fill-out mt-1" >Changer l'adresse</a>
                
                </div>

                <div class="heading_s1">
                    <h4>Merci de vérifiez votre transporteur</h4>
                    <div class="content" id="carrier">
                         {{ carrier | replace({'[espace]' : '<br>'}) |raw}}
                        <a href="{{ path('checkout_edit')}}" class="btn btn-fill-out mt-1" >Changer de transporteur</a>
                    </div>
                </div>
                {% if informations %}
                    <div class="heading_s1">
                    <h4>Informations additionnelles</h4>
                    <div class="form-group mb-0" id="informations">
                         {{ informations}}
                        
                    </div>
                </div>
                {% endif %}
                
          </div>

          <div class="col-md-6">
                <div class="order_review">
                    <div class="heading_s1">
                        <h4>Votre commande</h4>
                    </div>
                    <div class="table-responsive order_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in cart.products %}
                                    
                                <tr>
                                        <td> {{element.product.name}} <span class="product-qty">x {{element.quantity}}</span></td>
                                        <td>€ {{element.product.price/100}}</td>
                                    </tr>
                                {% endfor %}
                                   
                            </tbody>
                            <tfoot>
                                <tr>
                                
                                    <th>Total HT</th>
                                    <td class="product-subtotal">€ {{ cart.data.subTotalHT/100}}</td>
                                </tr>
                                <tr>
                                    <th>Taxe</th>
                                    <td class="product-subtotal">€ {{ cart.data.Taxe/100}}</td>
                                </tr>
                                <tr>
                                    <th>Transporteur ({{ carrier.name}}</th>
                                    <td class="product-subtotal">€ {{ carrier.price/100}}</td>
                                </tr>
                                <tr>
                                    <th>Total TTC </th>
                                    <td class="product-subtotal">€ {{ cart.data.subTotalTTC/100 + carrier.price/100 }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment_method">
                        <div class="heading_s1">
                            <h4>Paiement</h4>
                        </div>
                        <form action="/create-checkout-session" method="POST">
                            <button type="submit" id="checkout-button" class="btn btn-fill-out btn-block">
                            Payer   {{ cart.data.subTotalTTC/100 + carrier.price/100 }} €
                            </button>  
                        </form>                      
                        </div>
                        </div>
                    </div>
        </div>
        
        
    </div>
</div>


{% endblock %}



